env/
.env/
*.pyc
*.pyo
*.pyd
__pycache__
*.sqlite3
*.pyc
.DS_Store
media/
staticfiles/
*.env
.cleansheet_fastapi_venv/
cleansheet_fastapi_venv/
*.cleansheet_fastapi_venv/
.cleansheet_fastapi_venv
cleansheet_fastapi_venv
*.cleansheet_fastapi_venv
.idea/